*{
    padding: 0px;
    margin: 0px;
}
.image-field{
    
    background-image: url(https://www.crushpixel.com/big-static11/preview4/old-retro-camera-on-wooden-719892.jpg);
     height: 750px;

}
nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;


}
.nav-menu{
padding-right: 100px;

}
nav ul {
    display: flex;
    list-style: none;
  
    
    
}
nav ul li a{
    padding: 10px;
    margin: 15px;
    
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.logo{
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:110px;
}
.search{
    width: 150px;
    margin-right: 10px;
   
    margin: 5px;
    
   
}

.containor{
    padding: 120px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 120px;
  
}
.containor-tag{
    font-size: 80px;
}
.containor-header{
    color:  pink;
}
.btn{
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 15%;
    background-color: blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
}
.button{
    padding: 10px;
    margin: 20px;
    width: 90%;
    
    border: none;
    background-color: white;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.search{
    width: 200px;
    margin-right: 10px;
   
    margin: 80px;
    
   
}
.sub-menu-1{
    display: none;

}
.nav-menu ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: white;
    
    margin-top: 15px;
    margin-right: -15px;
}
.nav-menu ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
   
}
.nav-menu ul li:hover .sub-menu-1 ul li{
    width: 100px;
    padding: 10px;
    border-bottom: 1px;
    
}
.nav-menu ul li:hover .sub-menu-1 ul li a{
    color: black;
}
.containor-icon{
   margin-left: 10px;
}
.search-tag{
    color: red;
    font-size: 20px;
  padding-bottom: 150px;
}
.search-flex{
    margin-left: 210px;
    padding-bottom: 90px;
}
.logo-header{
    color: blue;
}
.nav-tag{
    margin-left: 5px;
}
.wrapper{
    padding-bottom:10px;
    font-size: 30px;
    color: white;
}
.wrapper-tag{
    margin-right: 50px;
    font-size: 15px;
}
.border-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    border: 2px solid white;
    background-color: white;
    width: 85%;
   margin-left: 60px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
 


}
.box{
    padding-top: 40px;
    
}
.header{
  padding: 170px;
  display: flex;
  
 
}
.side{
   padding-top: 50px;
}
.header-box{
    padding-top: 180px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 10px;
}
img{
   margin: 10px;
  margin-right: 50px;
  border-radius: 20px;
}
.head-tag{
    padding-top: 50px;
    font-weight: normal;
    font-size: 20px;
    color: gray;
    
}
.head-flex{
    padding-top: 50px;
    font-weight: normal;
    color: gray;
    font-size: 20px;
}
.right-button{
  
    margin: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 40%;
    background-color: blue;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 15px;
    
}
.side-tag{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-containor{
    padding-top: 50px;
}
.head{
   margin-right: 60px;
}
.side-img{
    padding-top: 30px;
    padding-right: 40px;
  
}

.card{
    width:200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;


}
.row{
    display: flex;
}
.icon-tag{
    color: blue;
    font-size: 30px;
}
.icon-col{
    font-size: 20p;
}
.about2{
    background-color: rgb(236, 229, 229);
    padding-top: 10px;
  
  
}
.about2 .card{
    padding: 2rem 2rem;
    color: black;
    background-color: #dcdcdc;
    width: 42%;
}
.about2 .card:hover{
    background-color: blue;
}
.about2 .card .icon-tag:hover{
    color: white;
}
.card-row{
    font-size: 18px;
    padding-top:20px;
  
}
.card-col{
    font-size: 20px;
    padding-bottom: 20px;
}
.about2-right{
    margin-left: 20px;
   padding-top: 120px;
}
.about-grid{
   padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.about-flex{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
    font-weight: normal;
    font-size: 18px;
    color: gray;
    
}
.about2-left{
    margin-left: 60px;
}
.card-button{
   padding-top: 30px;
}
.left-button{
    padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  width: 30%;
}
#menu-section{
    display: flex;
    margin-left: 90px;
    padding-top: 60px;
}
.menu-tag{
    padding-bottom: 40px;
}
.menu-flex{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
}
.menu-icons{
    color: blue;
    font-size: 20px;
   padding: 20px;
}
.menu-field{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    font-weight: normal;
    margin-left: 50px;
}
#img-containor2{
   margin-left: 60px;
   padding-top: 150px;
  
}
.section-containor{
    display: flex;
    padding-top: 70px;
}

.section-img{
    margin-left: 90px;
    padding-top: 50px;
}
.section-flex{
    padding-top: 20px;
    margin-left: 70px;
}
.section-head{
    padding-top: 180px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 10px;
    margin-left: 30px;
}
.contact-section2{
    padding-top: 50px;
}
.contact-button{
    padding: 20px;
    width: 20%;
    color: white;
    background-color: blue;
    border: none;
}
.contact-head{
    display: flex;
   padding-top: 40px;
}
.contact-right{
    margin-left: 120px;
}
.contact-grid{
    color: blue;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info{
    width: 490px;
    height: 400px;
    display: inline-block;
    border-radius: 10px;
    padding: 90px 20px;
   
    box-sizing: border-box;
    
    background-image: url(https://media.istockphoto.com/photos/various-knowledge-and-blackboard-backgrounds-for-learning-through-picture-id1261541463?b=1&k=20&m=1261541463&s=170667a&w=0&h=zRk4J3n0UlOi0CyXqJ0RqNopakkYWWJcvv4_rhyadRo=);
    background-position: center;
    margin-left: 100px;
   
  cursor: pointer;
  border-radius: 40px;
/* background-repeat: no-repeat;*/
 

}
.info-section{
    padding-top: 200px;
     
}
 



.card-2{
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  
}
.circle{
    font-size: 20px;
    background-color: white;
    height: 35px;
    width: 90%;
    padding: 15px;
    padding-bottom: 30px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
}
.info-card{
    color: black;
    font-weight: normal;
  font-size: 15px;
}


.card-containor{
   
  
}
.circle-grid{
   padding-bottom: 60px;
}
.circle-flex{
    margin-left: 60px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.content-2{
    display: flex;
padding: 40px;
    background-color: black;
    color: white;
 
    
}
.content-grid{
    padding-top: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
}
.text-content{
    padding-top: 60px;
}
.text-content2{
    font-size: 20px;
}


.section-text{
    margin-left: 100px;
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-section{
    display: flex;
    margin-right: 60px;
}
.section-button{
    padding-top: 40px;
}
.section-btn{
    padding: 10px;
    width: 30%;
}
.info-text{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    background-color: rgb(209, 198, 198);
    height: 120px;
}


.info-flex{
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}
.info-about{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

}
.info-tag{
    padding: 10px;
    border: none;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    
}
.footer-content{
    padding-top: 50px;
    margin-left: 40px;
}
.footer-section{
    padding-top: 60px;
    margin-left: 50px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-icon{
    padding-top: 50px;
}
.footer-grid{
    padding-top: 20px;
    font-size: 15px;
}

.footer-info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    font-weight: normal;
}
.footer-flex{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    font-size: 15px;
}
.footer-place{
    padding-top: 20px;
}
hr{
 
    border-bottom: 0px solid rgb(252, 232, 232);
    
}
.copyright{
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}